# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

script.txt

/certificates/*

/data/*

users-seeded-in-server.md

/script.md

# testing
/coverage

next.config.ts

secret.md

/public/uploads/avatar/*
!/public/uploads/avatar/.gitkeep
!/public/uploads/avatar/default-avatar.jpg

/public/uploads/category/*
!/public/uploads/category/.gitkeep

/public/uploads/map/*
!/public/uploads/map/.gitkeep

/public/uploads/payment-proof/*
!/public/uploads/payment-proof/.gitkeep

/public/uploads/disbursement-proof/*
!/public/uploads/disbursement-proof/.gitkeep

/public/uploads/message-media-image/*
!/public/uploads/message-media-image/.gitkeep

/public/uploads/message-media-video/*
!/public/uploads/message-media-video/.gitkeep

/public/uploads/complaint-proof/*
!/public/uploads/complaint-proof/.gitkeep

/public/uploads/shop/*
!/public/uploads/shop/.gitkeep

/public/uploads/shop-qrcode/*
!/public/uploads/shop-qrcode/.gitkeep

/public/uploads/table-qrcode/*
!/public/uploads/table-qrcode/.gitkeep

/public/uploads/product/*
!/public/uploads/product/.gitkeep

/public/uploads/testimony/*
!/public/uploads/testimony/.gitkeep

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

src/app/generated/prisma

ecosystem.config.cjs